:root {
    --black: #010101;
    --dark-grey: #171717;
    --green: #31c37c;
    --grey: #3a3a3a;
    --light-green: #4ad290;
    --off-white: #FAF9F6;
    --red: #d9332a;
    --salmon: #f6b6be;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--off-white);
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--black);
    border: none;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    padding: 0;
}

#calculator .btn {
    background-color: var(--dark-grey);
    width: 100%;
    border: none;
    color: var(--salmon);
    width: 100px; 
    height: 100px; 
    padding: 14px 20px;
    border-radius: 50%; 
    font-size: 3vh; 
    text-align: center; 
    transition: transform 0.1s ease, font-size 0.1s ease, background-color 0.1s ease;
}

#calculator .btn:hover {
    background-color: var(--grey);
}

#calculator .btn:active {
    transform: scale(0.9);
    font-size: 2.8vh;
    background-color: var(--grey);
}

#calculator #clear {
    color: var(--red);
}

#calculator #equal {
    background-color: var(--green);
    color: var(--black);
}

#calculator #equal.btn:hover {
    background-color: var(--light-green);
}

#calculator .operator {
    color: var(--green);
}

#display {
    width: 100%;
    padding: 4%;
    font-size: 4rem;
    text-align: left;
    border: none;
    background-color: var(--dark-grey);
}

#keys {
    padding: 2%;
}
